
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: white;
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(to right, rgb(20, 20, 20), rgba(75, 225, 75, 0.2));
    margin: 2vh;
}
button:hover{
    cursor: pointer;
}
#sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}
div {
    display: flex;
    flex-direction: column;
}
.welcome{
    font-size: 4vh;
    font-weight: bold;
    align-self: flex-start;
    border-left: 1px solid white;
    padding-left: 1vh;
}
.align-items{
    align-items: flex-start;
}
.flex-direction{
    flex-direction: row;
}
#app {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 51vh;
    height: 97vh;
}
#actions{
    flex-direction: row;
    justify-content: space-between;
    height: 59vh;
    width: 50vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#nav-bar{
    border: none;
    border-radius: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
}
.nav-button{
    width: 7vh;
    height: 7vh;
    background-color: transparent;
    border: none;
    border-radius: 100vh;
}
.nav-button:hover{
    background-color: rgba(255, 255, 255, 0.1)
}
.nav-icon{
    font-size: 3vh;
}
#view{
    width: 41vh;
}
.view-div{
    display: none;
}
.view-title{
    font-size: 4vh;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 2vh;
}
#nav-bar-home{
    color: rgb(75, 255, 75);
}
#home-view{
    display: flex;
}
.view-subtitle{
    font-size: 2.3vh;
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 2px;
}
#new-color-title{
    font-size: 2.3vh;
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 2px;
}
.new-color{
    flex-direction: row;
    margin-top: 1vh;
    margin-bottom: 1vh;
    flex-wrap: wrap;
}
#set-color{
    margin-left: 1vh;
    height: 7vh;
    width: 7vh;
    color: white;
    border: none;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.2);
}
#set-color-icon{
    font-size: 4vh;
}
#set-default-color-icon{
    font-size: 4vh;
    color: rgb(75, 255, 75);
}
#color-picker{
    border: 1px solid black;
    background-color: white;
    border-radius: 1vh;
    width: 7vh;
    height: 7vh;
    align-self: flex-end;
}
#color-picker:hover{
    cursor: pointer;
}
#default-color{
    border: 1px solid black;
    background-color: white;
    border-radius: 1vh;
    width: 7vh;
    height: 7vh;
}
.quick-color{
    display: contents;
}
.previous-color{
    flex-direction: row;
    width: 4vh;
    height: 4vh;
    border: none;
    outline: none;
    background: none;
}
#default-color:hover{
    cursor: pointer;
}
#currently-playing {
    bottom: 1vh;
}

#current-image{
    width: 25vh;
    height: 25vh;
}
#current-details{
    height: 25vh;
    width: 26vh;
    justify-content:space-between ;
}
#current-words{
    margin-left: 1vh;
    padding: 0.5vh;
    padding-right: 0;
    padding-left: 1vh;
    margin-bottom: 1vh;
    justify-content: space-between;
    height: 19vh;
    border-left: 1px solid white;

}
#current-track{
    font-size: 3vh;
    font-weight: bold;
}
#current-artist{
    font-size: 2.3vh;
}
#playback{
    flex-direction: row;
    justify-content:space-evenly ;
    margin-left: 1vh;
}
.playback-button{
    margin: 0.5vh;
    padding: 1vh;
    width: 6vh;
    height: 6vh;
    border: none;
    border-radius: 500px;
    background-color: rgb(75, 255, 75);
}
.playback-button:active{
    background-color: rgba(75, 255, 75, 0.5)
}

.icon{
    vertical-align: middle;
}

.playback-icon{
    vertical-align:middle;
    font-size: 3vh;
}
#progress-bar{
    width: 51vh;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}