
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: white;
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(to right, rgb(20, 20, 20), rgba(75, 225, 75, 0.2));
    margin: 2vh;
}
button:hover{
    cursor: pointer;
}
div {
    display: flex;
    flex-direction: column;
}
.icon{
    vertical-align: middle;
}
#sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}



.welcome{
    font-size: 4vh;
    font-weight: bold;
    align-self: flex-start;
    border-left: 1px solid white;
    padding-left: 1vh;
    width: 50vh;
}
#user{
    position: absolute;
    align-self: flex-end;
}
#user-image{
    width: 5vh;
    height: 5vh;
    border-radius: 100vh;
}
#sign-out-button{
    display: contents;
}
#sign-out{
    margin-top: 0.8vh;
    font-size: 3vh;
    color: rgb(75, 255, 75);
}



#app {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 51vh;
    height: 97vh;
}
#actions{
    flex-direction: row;
    justify-content: space-between;
    height: 59vh;
    width: 50vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#nav-bar{
    border: none;
    border-radius: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
}
.nav-button{
    width: 7vh;
    height: 7vh;
    background-color: transparent;
    border: none;
    border-radius: 100vh;
}
.nav-button:hover{
    background-color: rgba(255, 255, 255, 0.1)
}
.nav-icon{
    font-size: 3vh;
}



#view{
    width: 41vh;
}
.view-div{
    display: none;
}
.view-title{
    font-size: 4vh;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 2vh;
}
.view-subtitle{
    font-size: 2.3vh;
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 2px;
}
.list-view{
    width: 41vh;
    height: 51vh;
    overflow: auto;
    overflow-x: hidden;
}
.list-image{
    width: 8vh;
    height: 8vh;
}
.list-artist{
    font-size: 1.5vh;
    margin-left: 0.5vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30vh;
}
.list-name{
    padding: 0.5vh;
    padding-bottom: 0;
    font-size: 2.2vh;
    width: 30vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}



#nav-bar-home{
    color: rgb(75, 255, 75);
}
#home-view{
    display: flex;
}



.playlist{
flex-direction: row;
margin-top: 1vh;
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.playlist-info-div{
    justify-content: space-between;
}
.playlist-buttons-container{
    flex-direction: row;
    padding: 0.5vh;
}
.playlist-button{
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    border: none;
    background-color: transparent;
}
.playlist-button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.playlist-button-icon{
    font-size: 3vh;
    color: white;
}



.queued-track{
    flex-direction: row;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
.queue-icon{
    color: white;
    font-size: 2vh;
}
.queue-button{
    background-color: red;
    height: 3.5vh;
    width: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    border-radius: 1vh;
}
.queue-button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}



#search-container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#search-bar{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 2.5vh;
    width: 35vh;
}
#search-bar:focus{
    outline: none;
    border-bottom: 1px solid white;
}
#submit-search{
    background-color: transparent;
    border-radius: 100vh;
    border: none;
    height: 5vh;
    width: 5vh;
    padding: 0.5vh;
}
#submit-search:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
#search-icon{
    color: white;
    font-size: 3vh;
}
#change-search{
    flex-direction: row;
    justify-content: space-between;
}
.change-search-button{
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100vh;
    border: none;
    padding: 1vh;
    width: 9.5vh;
    font-size: 2vh;
}
.change-search-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
#search-tracks{
    background-color: rgba(255, 255, 255, 0.3);
}
.show-search{
    margin-top: 1vh;
    display: none;
    width: 41vh;
    height: 42vh;
    overflow: auto;
    overflow-x: hidden;
}
#show-search-tracks{
    display: flex;
}
.searched-item{
    flex-direction: row;
    margin-bottom: 1vh;
}
.searched-button-div{
    flex-direction: row;
    margin-left: 0.5vh;
}
.searched-item-button{
    width: 3.5vh;
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    border-radius: 1vh;
}
.searched-item-button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}



#new-color-title{
    font-size: 2.3vh;
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 2px;
}
.new-color{
    flex-direction: row;
    margin-top: 1vh;
    margin-bottom: 1vh;
    flex-wrap: wrap;
}
#set-color{
    margin-left: 1vh;
    height: 7vh;
    width: 7vh;
    color: white;
    border: none;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.2);
}
#set-color-icon{
    font-size: 4vh;
}
#set-default-color-icon{
    font-size: 4vh;
    color: rgb(75, 255, 75);
}
#color-picker{
    border: 1px solid black;
    background-color: white;
    border-radius: 1vh;
    width: 7vh;
    height: 7vh;
    align-self: flex-end;
}
#color-picker:hover{
    cursor: pointer;
}
#default-color{
    border: 1px solid black;
    background-color: white;
    border-radius: 1vh;
    width: 7vh;
    height: 7vh;
}
.quick-color{
    display: contents;
}
.previous-color{
    width: 4vh;
    height: 4vh;
    border: none;
    outline: none;
    background: none;
}
#default-color:hover{
    cursor: pointer;
}
#change-icon-colors{
    width: fit-content;
    font-size: 2vh;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 1vh;
    margin: 0.5vh;
}
#hide-scrollbars{
    width: fit-content;
    font-size: 2vh;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 1vh;
    margin: 0.5vh;
}



.alignment-button{
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0.5vh;
}
.align-icon{
    color: white;
    font-size: 2.7vh;
}
#align-overall{
    rotate: 90deg;
}
.small-icon-button{
    width: 3.5vh;
    height: 3.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5vh;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 1vh;
}
.arrow-icon{
    font-size: 3vh;
    color: black
}
#to-right{
    color: rgb(75, 255, 75);
}
#to-left{
    rotate: 180deg;
}
#to-top{
    rotate: 270deg;
}
#to-bottom{
    rotate: 90deg;
}
#to-bottom-right{
    rotate: 45deg;
}
#to-top-right{
    rotate: 315deg;
}
#to-bottom-left{
    rotate: 135deg;
}
#to-top-left{
    rotate: 225deg;
}



#currently-playing {
    bottom: 1vh;
}
#playing-alignment{
    flex-direction: row;
}
#current-image{
    width: 25vh;
    height: 25vh;
}
#current-details{
    height: 25vh;
    width: 26vh;
    justify-content:space-between ;
}
#current-words{
    margin-left: 1vh;
    padding: 0.5vh;
    padding-right: 0;
    padding-left: 1vh;
    margin-bottom: 1vh;
    justify-content: space-between;
    height: 19vh;
    border-left: 1px solid white;

}
#current-track{
    display: inline-block;
    font-size: 3vh;
    font-weight: bold;
    margin-right: 1vh;
    width: 24vh;
    height: 10vh;
    line-height: 1.1;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#current-artist{
    width: 24vh;
    font-size: 2.3vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



#playback{
    flex-direction: row;
    justify-content:space-evenly ;
    margin-left: 1vh;
}
.playback-button{
    margin: 0.5vh;
    padding: 1vh;
    width: 6vh;
    height: 6vh;
    border: none;
    border-radius: 500px;
    background-color: rgb(75, 255, 75);
}
.playback-button:active{
    background-color: rgba(75, 255, 75, 0.5)
}
.playback-icon{
    vertical-align:middle;
    font-size: 3vh;
}
#progress-bar{
    width: 51vh;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}